@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");


html,
body {
  height: 100%;
  text-align: center;
}

.uploader {
  border-radius: 10px;
  background: #F6F7FA;
  border: 1.5px solid #F6F7FA;
  padding: 8% 5%;
}

.image-upload-wrap {
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1.5px dashed #35465D;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.modal-body {
  width: 55%;
}

.image-upload-wrap:hover {
  background: #27363d;
  border: 1.5px dashed #35465D;
}

.upload-icon {
  width: 30%
}

.upload-text {
  width: 61%;
  font-family: 'Jua';
  font-size: 1.2rem;
  line-height: 1.53;
  text-align: center;
  color: #35465D;
  margin: 0 auto;
}

.uploader label.hover #start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}


.uploader #start.hidden {
  display: none;
}

.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all .2s ease-in-out;
}

.uploader #retry {
  float: left;
  clear: both;
  width: 100%;
  font-family: 'Jua';
  font-size: 1.2rem;
  line-height: 1.53;
  align-items: center;
  color: #35465D;
  background-color: #a7aeb8;
  margin: 0 auto;
  border-radius: 10px;
}

.uploader #retry:hover {
  background: #27363d;
  border: 1.5px dashed #35465D;
}

.uploader #retry.hidden {
  display: none;
}

.uploader #retry #messages {
  margin-bottom: .5rem;
}

.uploader #file-image {
  display: inline;
  margin: 0 auto .5rem auto;
  width: 80%;
  height: auto;
  max-width: 180px;
  border-radius: 10px;
}

.uploader #file-image.hidden {
  display: none;
}

.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

.uploader #notimage.hidden {
  display: none;
}

.uploader input[type="file"] {
  display: none;
}

.uploader div {
  margin: 0 0 .5rem 0;
  color: #5f6982;
}

.nav-distance {
  padding: 2.1% 7.7%
}

.navbar-brand {
  font-family: 'Jua';
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #35465D;
}

.navbar {
  --bs-navbar-toggler-border-color: #ffffff
}

.section {
  margin-top: 100px
}

.title {
  font-family: 'Jua';
  line-height: 1.67;
  align-items: center;
  text-align: center;
  color: #35465D;
}

.subtitle {
  font-family: 'Jua';
  line-height: 1.53;
  align-items: center;
  text-align: center;
  color: #35465D;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px
  }

  .navbar-brand {
    font-size: 2rem;
  }
}

.github-link {
  font-family: 'Jua';
  font-size: 1rem;
  line-height: 1.71;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #F73737;
}

.github-icon {
  width: 1.6rem;
}

div#disqus_thread iframe[sandbox] {
  max-height: 0px !important;
}

.footer {
  text-align: center;
  background: #0f1f35;
  height: 50px;
}

.footer p {
  font-family: "Jua";
  font-size: 12px;
  line-height: 0.2;
  color: #555b68;
}

.uploaded-image {
  border-radius: 10px;
}

.bar-graph-holder {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
}

.bar-graph-label {
  color: #E67701;
}

tm-bar-graph {
  width: 60%;
  border-radius: 5px;
  height: 29px;
  display: block;
  overflow: hidden;
}

tm-bar-graph #container {
  background-color: #FFECE2;
  width: 100%;
  height: 100%;
}

tm-bar-graph #inner {
  position: relative;
  background-color: #E67701;
  height: 100%;
  border-radius: 5px;
}

tm-bar-graph #value-label {
  /* color: #ffffff; */
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 10px;
  font-weight: 400;
  transform: translate(0, -50%)
}